%footer.sign_up_footer
  .sign_up_fotter__links
    %a.sign_up_footer__link{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
    %a.sign_up_footer__link{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約
    %a.sign_up_footer__link{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する規定
  = image_tag 'logo-gray.png', alt: 'mercari', width: '80', height: '65', class: 'sign_up_footer__logo'
  %p.sign_up__fotter__c @2019 freemarket_sample_0622b