%header.sign_up_header
  = image_tag 'mercari.png', alt: 'mercari', width: '185', height: '49', class: 'header__inner__top__header-image'
  %ul
    %li
      %p 会員情報
      %p.status
    %li
      %p 電話番号認証
      %p.status
    %li
      %p お届け先住所入力
      %p.status
    %li
      %p 支払い方法
      %p.status
    %li
      %p 完了
      %p.status