// クレジットカード登録画面

.container__right__chapter {

  &__pay-method {
    border-bottom: 2px solid #F5F5F5;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 24px;
    text-align: center;
  }

  &__inner-box {
    padding: 64px;
    text-align: center;

    &__alert {
      color: #ea352d;
      font-size: 14px;
      text-align: center;
      margin-bottom: 20px;
    }

    &__cards {
      width: 320px;
      margin: 0 auto;
      text-align: left;

      &__text {
        font-size: 16px;
        font-weight: bold;
      }
    }

    &__add-cards {
      border-bottom: 2px solid #F5F5F5;
      padding: 24px 0;

      &__box {
        background-color: #ea352d;  
        height: 50px;
        margin: 0 auto;
        width: 320px;

        a {
          @include button();
          color: #fff;
          font-size: 14px;
          line-height: 60px;
        }
      }
    }

    .card_lists {
      .card {
        text-align: left;
        padding: 24px 0;
        border-bottom: 1px solid #eee;

        .card_box {
          max-width: 320px;
          margin: 0 auto;
          position: relative;
        }

        figure {
          margin: 0;
          padding: 0;

          .card-brand {
            margin: 0;
            padding: 0;
          }
        }

        .payment-num {
          margin: 8px 0 0;
          font-size: 14px;
          color: #333333;
        }

        .delete-btn {
          line-height: 14px;
          position: absolute;
          top: 0;
          right: 0;
          padding: 4px 6px;
          background: #fff;
          border-radius: 3px;
          border: 1px solid #ea352d;
          color: #ea352d;
          font-size: 14px;
          height: 14px;
        }
      }
    }

    &__about-payment {
      margin-top: 40px;
      text-align: right;

      a {
        i {
          -webkit-text-stroke: 1px #fff;
        }
      }
    }
  }
}
