.exhibit-container__main__buy{
  width: 700px;
  margin: 0 auto;
  text-align: center;

  &__head{
    background-color: white;
    border: solid #F5F5F5 0.1px;

    &__page-title{
      padding: 16px;
      font-size: 22px;
      font-weight: bold;
    }
  }

  &__datail{
    padding: 24px 12.5% 0;
    background-color: white;
    border-top: 1px solid #f5f5f5;

    &__inner{
      max-width: 320px;
      margin: 0 auto;

      .buy-product-image{
        width: 64px;
        max-height: 148px;
        float: left;
        display: block;
      }

      &__product-name{
        margin: 0 0 0 16px;
        text-align: left;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        display: block;
        float:left;
        width: calc(100% - 80px);
        height: 86.19px;
      }

      &__buy-form{
        @include clearfix();
        display: block;
        box-sizing: border-box;

        &__price{
          margin: 8px 0 0;
          line-height: 1.5;
          font-size: 22px;
          font-weight: 600;          

          .burdens{
            margin: 0 0 0 8px;
            font-size: 14px;
            font-weight: 400;
          }
        }

        &__point{
          background: #ccc;
          margin: 16px 0 0;
          padding: 16px;
          font-size: 14px;
        }

        &__buy-price{
          @include clearfix();
          display: block;
          &__text{
            text-align: left;
            padding: 16px 0;
            font-size: 20px;
            font-weight: bold;
            float:left;
          }

          &__integer{
            text-align: left;
            padding: 16px 0;
            font-size: 25px;
            font-weight: bold;
            float:right;
          }
        }

        &__buy-button{
          display: block;
          background: #EA352D;
          margin: 16px 0 0;
          font-size: 14px;  
          padding: 16px;
          

          .buy-button{
            color: white;
            display: block;
            font-weight: bold;
          }
        }
      }
    }

    &__shipping-address{
      margin: 40px 0 0;
      padding: 24px 12.5% 0;
      border-top: 1px solid #f5f5f5;
      display: block;
      
      &__inner{
        max-width: 320px;
        margin: 0 auto;

        .shipping-address{
          text-align: left;
          font-weight: bold;
          max-width: 320px;
          font-size:15px;
        }
        .shipping-address-info{
          margin: 8px 0 0;
          font-size: 14px;
          line-height: 1.4;
          text-align: left;
        }       
      }
    }

    &__payment-method{
      margin: 40px 0 0;
      padding: 24px 12.5% 0;
      border-top: 1px solid #f5f5f5;
      display: block;
            
      &__inner{
        max-width: 320px;
        margin: 0 auto;

        .payment-method{
          text-align: left;
          font-weight: bold;
          max-width: 320px;
          font-size:15px;
        }

        .payment-method-info{
          margin: 8px 0 0;
          font-size: 14px;
          line-height: 1.4;
          text-align: left;
          padding-bottom: 40px;
        }
      }
    }
  }
}
