.sign_in {
  width: 500px;
  margin: 0 auto;
  background-color: #F5F5F5; 
  &__sign_up_link {
    padding: 50px 0;
    border-bottom: solid 1px #EEEEEE;
  }
  &__field {
    @include form_field();
    p.info {
      margin-bottom: 5px;
      text-align: center;
      font-size: 15px;
      color: #333333;
    }
    &__link {
      display: inline-block;
      width: 100%;
      line-height: 50px;
      text-align: center;
      font-size: 15px;
    }
    .sign_up {
      background-color: #369AE8;
      color: white;
    }
    .fa-sign_in_facebook {
      display: inline;
      position: relative;
      top: 65px;
      left: 15px;
      color: white;
    }
    .facebook {
      margin-top: 30px;
      background-color: #385185;
      color: white;
    }
    .fa-sign_in_google {
      display: inline;
      position: relative;
      top: 35px;
      left: 15px;
    }
    .google {
      margin-bottom: 30px;
      border: solid 1px #979797;
      color: #333333;
    }
    &__input {
      @include form_input();
    }
    &--button {
      @include form_button();
    }
    &__new_password_link {
      display: inline-block;
      padding-bottom: 30px;
      text-decoration: none;
      color: #65B6EF;
      font-size: 15px;
    }
  }
}