// 
.container__right__chapter {

  &__singout_button {
    height: 51px;
    padding: 64px;

    &__form {
      margin: auto;
      text-align: center;
      width: 320px;

      .sign-out {
        display: inline-block;
        color: #FFFFFF;
        background-color: #EA352D;
        font-size: 14px;
        line-height: 50px;
        width: 320px;
      }
    }
  }
}
