.sign_up {
  @include form_main();

  &__title {
    @include form_title();
  }
  &__field {
    @include form_field();
    &__link {
      display: inline-block;
      width: 100%;
      line-height: 50px;
      text-align: center;
      font-size: 15px;
    }
    .fa-sign_up_email {
      display: inline;
      position: relative;
      top: 35px;
      left: 15px;
      color: white;
    }
    .email {
      background-color: red;
      color: white;
    }
    .fa-sign_up_facebook {
      display: inline;
      position: relative;
      top: 35px;
      left: 15px;
      color: white;
    }
    .facebook {
      background-color: #385185;
      color: white;
    }
    .fa-sign_up_google {
      display: inline;
      position: relative;
      top: 35px;
      left: 15px;
    }
    .google {
      margin-bottom: 60px;
      border: solid 1px #979797;
      color: #333333;
    }
    &__label {
      @include form_label();
    }
    &__input {
      @include form_input();
    }
    .inline {
      display: inline;
      width: calc(48% - 15px);
    }
    .required {
      @include required();
    }
    .info {
      font-size: 14px;
    }
    a.info {
      color: #55AEED;
    }
    .center {
      text-align: center;
    }
    .privacy {
      display: inline-block;
      width: 100%;
      padding-bottom: 25px;
      text-align: right;
    }
    .button {
      @include form_button();
    }
  }
  &__field--empty {
    padding-bottom: 50px;
  }
}
#error_explanation {
  margin: 0 30px;
  color: red;
  font-size: 15px;
}
